
h1{
    color: red;
    font-size: 50px;
    text-align: center;

}

*{
    background-color: aqua;
    color: antiquewhite;
}

.try{
    color: red;
}

.anchor{
    cursor: crosshair;
    font-size: 50px;
    color: blue;

}
a:link{
    background-color: blueviolet;
    color: azure;
}